@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --color-pastel-orange-100: #fff1e6;
  --color-pastel-orange-200: #ffd8b1;
  --color-pastel-orange-300: #ffb347;
  --color-pastel-orange-400: #ff9933;
  --color-pastel-orange-500: #ff8800;
  --color-pastel-orange-600: #e67300;
  --color-pastel-orange-700: #cc6600;
  --color-pastel-orange-800: #b35900;
  --color-pastel-orange-900: #994d00;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out both;
  }

  .animate-slide-in-top {
    animation: slideInTop 0.8s ease-out forwards;
  }

  .animate-wiggle-slow {
    animation: wiggle 2.5s infinite ease-in-out;
  }

  .drop-shadow-pink {
    filter: drop-shadow(0 1px 1px #f9a8d4);
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInTop {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }
}
